

.loader {
    height: 2em;
    width: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




.circle {
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border-style: solid;
}

.white {
    border-width: 3px 3px 0 0;
    border-color: white white transparent transparent;
    animation: 1s rotate-white linear infinite;
}

.red {
    border-width: 0 0 3px 3px;
    border-color: transparent transparent red red;
    animation: 1s rotate-red linear infinite;
}

.orange {
    border-width: 0 3px 3px 0;
    border-color: transparent orange orange transparent;
    animation: 1s rotate-orange linear infinite;
}

.yellow {
    border-width: 3px 0 0 3px;
    border-color: yellow transparent transparent yellow;
    animation: 1s rotate-yellow linear infinite;
}

@keyframes rotate-white {
    from {
        transform: rotateX(45deg) rotateY(-35deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(45deg) rotateY(-35deg) rotateZ(360deg);
    }
}

@keyframes rotate-red {
    from {
        transform: rotateX(45deg) rotateY(35deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(45deg) rotateY(35deg) rotateZ(360deg);
    }
}

@keyframes rotate-orange {
    from {
        transform: rotateX(70deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(70deg) rotateZ(360deg);
    }
}

@keyframes rotate-yellow {
    from {
        transform: rotateY(70deg) rotateZ(0deg);
    }

    to {
        transform: rotateY(70deg) rotateZ(360deg);
    }
}



/* icons */

.icons a .layer {
    width: 55px;
    height: 55px;
    position: relative;
    /* Add this to ensure positioning works correctly */
    transition: transform 0.3s;
}

.layer:hover { 
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    width: 70%;
    height: 70%;
    border: 1px solid ;
    transition: 0.3s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's width and height */
}

.icons a .layer span.fab {
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons  .layer:hover span:nth-child(1) {
    opacity: 0.2;
}

.icons  .layer:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(15px, -15px);
}

.icons  .layer:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icons  .layer:hover span:nth-child(4) {
    opacity: 0.8;
    transform: translate(5px, -5px);
}




/* navbar animations */
nav a {
    position: relative;
    text-decoration: none;
}

nav a::before,
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.1px;
    background-color: #32CD32;
    box-shadow: 0 2px 5px rgba(50, 205, 50, 0.5);
    transition: width 1s;
}

nav a::before {
    top: 0;
    left: 0;
}

nav a::after {
    bottom: 0;
    right: 0;
}

nav a:hover::before {
    width: 100%;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}


.moses {
    background-image: url('/images/dots.webp');
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}
